$pink: #FFC0CB;
$deeppink: #FF8095;

@mixin transition($time) {
          transition: $time;
       -o-transition: $time;
      -ms-transition: $time;
     -moz-transition: $time;
  -webkit-transition: $time;
}

body {
  background: radial-gradient(ellipse at bottom, lighten($pink, 50%) 25%, $pink 100%);
  display: block;
  padding: 0 15vw;
}

#page {
  display: grid;
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

// @media (max-width: 767px) {
//   #page {
//     grid-template-rows: auto;
//     grid-gap: 10px;
//     grid-template-areas: "head"
//                          "cont"
//                          "skill"
//                          "skillD"
//                          "expN"
//                          "expP
//                          "projN"
//                          "projP"
//                          "edu"
//                          "eduD"
//                          "ref"
//                          "refD";
//   }
// }

// @media (min-width: 768px) {
  #page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 2vw;
    grid-column-gap: 1vw;
    grid-template-areas: "head  head"
                         "cont  cont"
                         "skill skillD"
                         "expN  expP"
                         "projN projP"
                         "edu   eduD"
                         "ref   refD";
  }
  
  .desc {
    border-left: 1px solid $pink;
    padding-left: 2vw;
  }
// }

#page > header {
  grid-area: head;
  text-align: center;
  > img {
    width: 75vw;
    max-width: 1000px;
    pointer-events: none;
    user-select: none;
  }
}

#page > contact {
  grid-area: cont;
  text-align: center;
  display: block;
  > a {
    padding: 0 2vw;
    font-size: 2em;
    text-decoration: none;

    color: $pink;
    @include transition(.3s);
  }
  > a:hover {
    color: $deeppink;
  }
}

.nav {
  text-align: right;
  padding-right: 1vw;
}

.title {
  color: $deeppink;
  font-size: 1.5em;
  padding-bottom: 4vh;
}
  
.date {
  font-size: 0.8em;
  color: #808080;
}

.item {
  padding-bottom: 2vh;
}

.subtitle {
  color: $deeppink;
  font-style: italic;
}

.subdesc {
  font-size: 1em;
}

// grid assignment
#page {
  > skill {
    grid-area: skill;
  }
  > skillDesc {
    grid-area: skillD;
  }
  > expNow {
    grid-area: expN;
  }
  > expPrev {
    grid-area: expP;
  }
  > projNow {
    grid-area: projN;
  }
  > projPrev {
    grid-area: projP;
  }
  > edu {
    grid-area: edu;
  }
  > eduDesc {
    grid-area: eduD;
  }
  > ref {
    grid-area: ref;
  }
  > refDesc {
    grid-area: refD;
  }
}