$pink: #FF57AB;
$purple: #AB57FF;
$pink-bg: #FFDFE7;
$purple-bg: #E7DFFF;
$white-bg: rgba(255, 255, 255, 0.5);
$font-col: #4F4F4F;
$white: #FFFFFF;
$black-text: #4F4F4F;

$mid: #D557D5;

// gradient with two mids
$pink-fade-1-1: #E357C7;
$pink-fade-1-2: #C757E3;

// gradient with three mids
$pink-fade-2-1: #EA57C0;
$pink-fade-2-2: #D557D5;
$pink-fade-2-3: #C057EA;

@mixin transition($time) {
    transition: $time;
    -o-transition: $time;
    -ms-transition: $time;
    -moz-transition: $time;
    -webkit-transition: $time;
}

@mixin flex-grow($size) {
    flex-grow: $size;
    -ms-flex-grow: $size;
    -moz-flex-grow: $size;
    -webkit-flex-grow: $size;
}

@mixin rotate($degrees) {
    transform: rotate($degrees);
    -o-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -webkit-transform: rotate($degrees);
}

@mixin transform-origin($x, $y) {
    transform-origin: $x $y;
    -o-transform-origin: $x $y;
    -ms-transform-origin: $x $y;
    -moz-transform-origin: $x $y;
    -webkit-transform-origin: $x $y;
}

@mixin animation($animation) {
    animation: $animation;
    -o-animation: $animation;
    -ms-animation: $animation;
    -moz-animation: $animation;
    -webkit-animation: $animation;
}

@mixin animation-delay($delay) {
    animation-delay: $delay;
    -o-animation-delay: $delay;
    -ms-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -webkit-animation-delay: $delay;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-webkit-keyframes #{$name} {
        @content; 
    }
}

@include keyframes(wb-type) {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@include keyframes(jv-rise) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@include keyframes(db-flash) {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
}

@include keyframes(gr-left) {
    to {
        @include rotate(360deg);
    }
}

@include keyframes(gr-right) {
    to {
        @include rotate(-360deg);
    }
}

body {
    background: linear-gradient(to bottom, $pink-bg, $purple-bg);
    margin: 5% 15% 10%;

    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: $black-text;
}

#header {
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        background-image: none;
        color: $pink;
    }
    background-image: linear-gradient(90deg,$pink 0%,$purple 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;

    display:inline-block;
    text-align: left;

    #hello {
        font-size: 8em;
    }

    #hello-subtext {
        font-size: 2.5em;
    }

    .white-text {
        color: $white;
        -webkit-text-fill-color: $white;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
}

#content {
    margin-top: 10vh;
    padding: 7% 10%;
    background: $white-bg;
    font-size: 1.2em;

    h1 {
        font-weight: 300;
        text-align: center;
    }

    .bold-text {
        font-size: 0.85em;
        font-weight: 700;
    }

    .date {
        font-size: 0.85em;
    }

    .flex {
        display: -webkit-flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        align-items: flex-start;
        justify-content: center;
        flex-direction: row;

        margin: .5vw;
        width: 100%;

        .flex-50, 
        .flex-33 {
            margin: 2.5vh 0;
        }
    }

    @media screen and (max-width: 1080px) {
        .flex {
            -ms-flex-wrap: wrap;
            flex: 1 1 0;
            .flex-50 {
                width: 100%;
            }
            
            .flex-33 {
                width: 100%;
                flex-wrap: wrap;
            }
        }
    }

    @media screen and (min-width: 1081px) {
        .flex {
            .flex-50 {
                width: 50%;
                @include flex-grow(1);
            }

            .flex-33 {
                width: calc(100%/3);
                @include flex-grow(1);
            }
        }
    }

    #technology {
        > h1 {
            color: $pink
        }
        
        .flex {
        }

        .tech-dis {
            display: inline-block;
            width: calc(100% * (1/3) - .5em);

            .wb-type:nth-of-type(1) {
                @include animation(wb-type 5s infinite step-end);
            }
            .wb-type:nth-of-type(2) {
                @include animation(wb-type 5s infinite step-end);
                @include animation-delay(0.5s);
            }
            .wb-type:nth-of-type(3) {
                @include animation(wb-type 5s infinite step-end);
                @include animation-delay(1s);
            }

            .jv-steam {
                @include animation(jv-rise 4s infinite alternate);
                @include animation-delay(4s);
            }

            .db-flash:nth-of-type(1) {
                @include animation(db-flash 3s infinite linear);
            }
            .db-flash:nth-of-type(2) {
                @include animation(db-flash 3s infinite linear);
                @include animation-delay(0.5s);
            }
            .db-flash:nth-of-type(3) {
                @include animation(db-flash 3s infinite linear);
                @include animation-delay(1s);
            }

            .gr-left {
                @include animation(gr-left 20s infinite linear);
                @include transform-origin(8.384px, 13.791px);
            }
            .gr-right {
                @include animation(gr-right 12.5s infinite linear);
                @include transform-origin(18.8685px, 7.079px);
            }
        }

        .tech-name {
            font-weight: 400;
            font-size: 1.2em;
            color: $pink;
        }

        .tech-info {
            float: right;
            width: calc(100% * (2/3) - .5em)
        }

        .tech-icon {
            padding: 0 1.5vw;
            display: block;
            margin: 0 auto;
        }

        .tech-left {
            float: right;
            text-align: left;
        }

        .tech-right {
            float: left;
            text-align: right;
        }
    }

    #education {
        > h1 {
            color: $pink-fade-2-1
        }
    }

    #experience {
        > h1 {
            color: $pink-fade-2-2
        }

        img {
            display: block;
            margin: auto;

            &.exp-now {
                width: 50%;
                max-width: 300px;
            }

            &.exp-prev {
                max-width: 35%;
            }
        }
    }

    #sample {
        > h1 {
            color: $pink-fade-2-3;
        }

        .sample-pen {
            width: 75%;
            margin: auto;
        }

        .sample-web {
            max-width: 75%;
            max-height: 75%;
            margin: auto;
            @include transition(500ms);
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);

            &:hover {
                -webkit-filter: none;
                filter: none;
            }

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    #contact {
        font-size: 0.8em;
        > h1 {
            color: $purple;
        }
    }
}

.contact-icons {
    > a {
        padding: 1.5vw;
        text-decoration: none;
        @include transition(.3s);

        > svg {
            width: 3em;
            height: 3em;
            stroke-width: 1;
        }
    }
    > a:nth-child(1) {
        color: lighten($pink, 15%);
    }
    > a:hover:nth-child(1) {
        color: $pink;
    }
    > a:nth-child(2) {
        color: lighten($pink-fade-1-1, 15%);
    }
    > a:hover:nth-child(2) {
        color: $pink-fade-1-1;
    }
    > a:nth-child(3) {
        color: lighten($pink-fade-1-2, 15%);
    }
    > a:hover:nth-child(3) {
        color: $pink-fade-1-2;
    }
    > a:nth-child(4) {
        color: lighten($purple, 15%);
    }
    > a:hover:nth-child(4) {
        color: $purple;
    }
}