body {
  background: radial-gradient(ellipse at bottom, #ffffff 25%, #ffc0cb 100%);
  display: block;
}

#page {
  display: grid;
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#page {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 2vw;
  grid-column-gap: 1vw;
  grid-template-areas: "head  head" "cont  cont" "skill skillD" "expN  expP" "projN projP" "edu   eduD" "ref   refD";
}

.desc {
  border-left: 1px solid #FFC0CB;
  padding-left: 2vw;
}

#page > header {
  grid-area: head;
  text-align: center;
}
#page > header > img {
  width: 75vw;
  max-width: 1000px;
  pointer-events: none;
  user-select: none;
}

#page > contact {
  grid-area: cont;
  text-align: center;
  display: block;
}
#page > contact > a {
  padding: 0 2vw;
  font-size: 2em;
  text-decoration: none;
  color: #FFC0CB;
  transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}
#page > contact > a:hover {
  color: #FF8095;
}

.nav {
  text-align: right;
  padding-right: 1vw;
}

.title {
  color: #FF8095;
  font-size: 1.5em;
  padding-bottom: 4vh;
}

.date {
  font-size: 0.8em;
  color: #808080;
}

.item {
  padding-bottom: 2vh;
}

.subtitle {
  color: #FF8095;
  font-style: italic;
}

.subdesc {
  font-size: 1em;
}

#page > skill {
  grid-area: skill;
}
#page > skillDesc {
  grid-area: skillD;
}
#page > expNow {
  grid-area: expN;
}
#page > expPrev {
  grid-area: expP;
}
#page > projNow {
  grid-area: projN;
}
#page > projPrev {
  grid-area: projP;
}
#page > edu {
  grid-area: edu;
}
#page > eduDesc {
  grid-area: eduD;
}
#page > ref {
  grid-area: ref;
}
#page > refDesc {
  grid-area: refD;
}
