body {
  background: #b5ffe1;
  background: linear-gradient(to bottom left, #b5ffe1, #6ab7c8);
  margin: 5% 10% 10%;
  color: #404040;
  font-family: 'Montserrat', sans-serif;
  filter: drop-shadow(0 0 10px #6ab7c8); }
  body header {
    background-color: rgba(253, 254, 255, 0.85);
    padding: 1px 25px;
    border-radius: 25px 25px 0 0;
    min-width: 800px;
    color: #df0052; }
  body #sfmuni {
    background-color: #fdfeff;
    padding: 0 25px 30px;
    border-radius: 0 0 25px 25px;
    display: flex;
    flex-direction: column;
    min-width: 800px; }
    body #sfmuni #filter {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      body #sfmuni #filter .label {
        padding: 5px;
        border-radius: 4px;
        margin: 3px 0;
        font-size: 0.8rem;
        background-color: #b5ffe1;
        user-select: none;
        cursor: pointer; }
        body #sfmuni #filter .label.disabled {
          background-color: #e8fff6; }
    body #sfmuni #sfmap {
      padding: 25px 0;
      text-align: center;
      fill: none; }
      body #sfmuni #sfmap #neighbourhoods {
        fill: #daedf1;
        stroke: #6ab7c8;
        stroke-width: 1.5; }
      body #sfmuni #sfmap #streets {
        stroke: #b5dbe4; }
      body #sfmuni #sfmap #arteries {
        stroke: #a2d2dd; }
      body #sfmuni #sfmap #freeways {
        stroke: #8fc9d6;
        stroke-width: 0.5; }
      body #sfmuni #sfmap #vehicles {
        fill: #df0052; }
        body #sfmuni #sfmap #vehicles .vehicle image {
          width: 20px; }
        body #sfmuni #sfmap #vehicles .vehicle .popup-text {
          display: none; }
          body #sfmuni #sfmap #vehicles .vehicle .popup-text rect {
            fill: #fdfeff;
            stroke: #df0052;
            height: 23px;
            width: 70px; }
          body #sfmuni #sfmap #vehicles .vehicle .popup-text text {
            fill: #404040; }
        body #sfmuni #sfmap #vehicles .vehicle:hover .popup-text {
          display: block; }
