body {
  background: #77c4e3;
  background: linear-gradient(to bottom left, #b6e0f0, #afa8d0);
  margin: 5% 10% 10%;
  font-family: 'Montserrat', sans-serif;
  color: #4f4f4f;
  filter: drop-shadow(0 0 10px #8176b5); }
  body .icon-span {
    display: inline-block;
    padding-right: 5px; }
    body .icon-span svg {
      height: 1.2em;
      width: 1.2em;
      vertical-align: bottom; }
      body .icon-span svg.alert-orange {
        color: #e3c878; }
      body .icon-span svg.success-green {
        color: #78e378; }
      body .icon-span svg.fail-red {
        color: #e37878; }
      body .icon-span svg.black-chevron {
        height: 1em;
        width: 1em; }
  body .label {
    display: inline-block;
    padding: 5px;
    margin-right: 1px;
    font-size: 0.8em;
    border-radius: 4px; }
  body #table-title {
    background-color: rgba(253, 254, 255, 0.75);
    padding: 15px 25px;
    border-radius: 25px 25px 0 0;
    font-size: 1.5em;
    color: #8176b5; }
  body #github-issues {
    background-color: #fdfeff;
    padding: 15px 25px 30px;
    border-radius: 0 0 25px 25px; }
    body #github-issues > div {
      padding-top: 20px; }
    body #github-issues .table-filter span {
      padding-right: 10px; }
    body #github-issues .table-filter .dropdown {
      position: relative;
      display: inline-block;
      outline: none;
      user-select: none; }
      body #github-issues .table-filter .dropdown .dropdown-btn {
        border: none;
        cursor: pointer; }
      body #github-issues .table-filter .dropdown .dropdown-content {
        display: none;
        position: absolute;
        left: 0;
        padding: 5px;
        overflow-y: auto;
        max-height: 500px;
        width: max-content;
        max-width: 200px;
        font-size: 0.9em;
        background-color: #fdfeff;
        border: 1px solid #eceaf4;
        box-shadow: 3px 3px 5px #afa8d0;
        z-index: 1; }
        body #github-issues .table-filter .dropdown .dropdown-content div {
          display: block;
          padding: 5px; }
          body #github-issues .table-filter .dropdown .dropdown-content div:hover {
            background-color: #eceaf4;
            cursor: pointer; }
        body #github-issues .table-filter .dropdown .dropdown-content .icon-square {
          display: inline-block;
          height: 12px;
          width: 12px; }
      body #github-issues .table-filter .dropdown .active {
        display: block; }
    body #github-issues .table-contents {
      border-spacing: 0; }
      body #github-issues .table-contents tr:hover {
        background-color: #eceaf4; }
      body #github-issues .table-contents tr td {
        padding: 5px 10px; }
      body #github-issues .table-contents tr .details {
        width: 100%; }
        body #github-issues .table-contents tr .details .title a {
          color: #4f4f4f;
          text-decoration: none; }
        body #github-issues .table-contents tr .details .subtext {
          font-size: 0.8em; }
          body #github-issues .table-contents tr .details .subtext a {
            color: #258cb5; }
      body #github-issues .table-contents tr .avatars {
        display: inline; }
        body #github-issues .table-contents tr .avatars img {
          height: 25px; }
      body #github-issues .table-contents tr .comments {
        white-space: nowrap; }
        body #github-issues .table-contents tr .comments a {
          color: #4f4f4f;
          text-decoration: none; }
    body #github-issues .pagination {
      text-align: center; }
      body #github-issues .pagination > span {
        background-color: #f2f2f2;
        padding: 8px;
        margin: 2px;
        text-align: center;
        cursor: pointer; }
        body #github-issues .pagination > span:disabled {
          color: #757575;
          background-color: #fafafa; }
